@page "/employeeedit"
@page "/employeeedit/{Id}"

<section class="employee-edit">
    <h1 class="page-title">Details for @Employee.Name, whose title is @Employee.Title</h1>
    <EditForm Model="@Employee">

        <div class="form-group row">
            <label for="name" class="col-sm-3"> Title:</label>
            <InputText id="name" class="form-control col-sm-8" @bind-Value="@Employee.Name" placeholder="Enter New Title"></InputText>
        </div>
        
        <div class="form-group row">
            <label for="title" class="col-sm-3"> Title:</label>
            <InputText id="title" class="form-control col-sm-8" @bind-Value="@Employee.Title" placeholder="Enter New Title"></InputText>
        </div>


    </EditForm>

</section>